* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

body {
      
}

section {
    height: 100vh;
    margin-top: 2rem;
    scroll-snap-align: center;
}

.sec-2{
    height: 100vh;
    scroll-snap-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    
}
.sec-3{
    height: 100vh;
    scroll-snap-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

span {
    color: white;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}